<html>
<body>

	<h3>Book:</h3>
	<p>Title: {{book.title}}</p>
	<p>Synopsis: {{book.synopsis}}</p>
	<p>Author: {{book.author}}</p>
	<p>Editorial: {{book.editorial}}</p>
	<p>PublishedYear: {{book.publishedYear}}</p>
	
	<br>

	{{#comments.0}}
	<h4>Comments:</h4>
	{{/comments.0}}

	{{#comments}}
	<div style="border: 1px solid black; padding: 5px; display: inline-block;">
		<p>Name: {{name}}</p>
		<p>Comment: {{comment}}</p>
		<p>Score: {{score}}</p>
	</div>
	{{/comments}}
	<br>

	<form action="/book/{{book.id}}/comment" method="post">

		<p>Name: </p>
		<input type='text' name='name'/>

		<p>Comment: </p>
		<textarea name='comment' rows=5 cols=40></textarea>

		<p>Score: </p>
		<input type='number' name='score'/>

		<input type='submit' value='Save'/>
	</form>
	
	<a href="/">Back</a>
</body>
</html>